{% extends "base.html" %} {% block body %}
<style>
  body,
  html {
    margin: 0;
    padding: 0;
  }
  .footer__logo {
    display: inline-block;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
</style>
<h1 class="footer__logo" style="text-align: center">About Us</h1>
<p class="footer__logo">
  Corporis tenetur sapiente alias consectetur hic enim voluptatem atque est.
  Aliquid minus tempore beatae hic, fugiat nam dicta quaerat odit non
  blanditiis? Temporibus iste distinctio magnam quia, consectetur molestias
  corrupti, aspernatur excepturi blanditiis ex ipsa quod possimus rem accusamus
  omnis. Eaque mollitia ipsa sed, qui consequatur quam tenetur recusandae libero
  voluptatum ducimus saepe praesentium? Voluptatibus deserunt accusantium cumque
  tenetur tempora ipsum ipsa rerum repellendus veniam minima, labore maxime
  expedita quod ad debitis quis illum voluptate laborum dolore, provident
  eveniet minus veniam eaque quod autem ipsum eius, quis harum amet illo iste
  sunt fugit provident facere repellat perferendis beatae, dolor earum odio
  vitae fugit delectus quaerat cumque sed voluptatem ad necessitatibus. Eum
  numquam consequatur laudantium recusandae praesentium eius laboriosam quod
  minus, aliquid velit atque, expedita iste velit sapiente itaque beatae quae
  impedit repellat, deserunt voluptates repudiandae ab quo vitae dolores
  aliquid, facere ipsum fuga eos ex officia inventore nesciunt voluptate
  corrupti ducimus. Nesciunt libero quos nobis reiciendis placeat, reiciendis
  laudantium dignissimos eum esse commodi, consectetur doloremque reiciendis
  explicabo illo repudiandae ut voluptatibus ab non, modi ex odit deleniti illo
  suscipit numquam quas tenetur magnam, pariatur excepturi cupiditate.
  Recusandae soluta voluptatum minima vitae molestiae quae harum dicta, fugiat
  corporis excepturi modi iusto officiis necessitatibus laboriosam in officia
  tempore quaerat. Eveniet aliquam obcaecati accusamus nam suscipit accusantium
  tenetur, natus consectetur obcaecati laboriosam inventore pariatur neque dicta
  asperiores eaque aperiam, amet dignissimos corporis veniam consequuntur
  nostrum rem dolor exercitationem perferendis rerum, maxime ad est hic modi
  quos error rem asperiores dicta? Molestias voluptatem ex quas tempora
  laudantium aliquam sit, distinctio recusandae fuga et magni iusto molestiae
  beatae aspernatur harum tenetur quia, ipsam culpa vel ducimus ratione non
  fugit, asperiores minus pariatur laborum nam dolor beatae fuga itaque. Aperiam
  neque totam iste facere recusandae inventore aut illum eum in ea, temporibus
  vel saepe ad earum incidunt sunt, omnis a ea, nostrum enim iure expedita velit
  repellendus temporibus ab delectus animi, adipisci iste corporis dolore
  consequatur velit quos sapiente eligendi? Cum quas distinctio quam voluptatem
  culpa sint, cupiditate inventore voluptate harum itaque excepturi, incidunt
  deleniti odit consequuntur voluptatum provident explicabo nulla, veritatis
  esse laborum, quisquam corrupti culpa consequatur neque. Recusandae qui non
  modi perferendis assumenda cum, assumenda asperiores aliquam iure laudantium
  aspernatur rem sit recusandae. Temporibus officiis ipsa ad praesentium neque
  repellendus soluta alias, beatae voluptatum officia quam nulla dolore eligendi
  suscipit corporis animi voluptas facilis, id itaque assumenda nam aliquam
  placeat nisi atque ipsa tempora, blanditiis iusto earum recusandae omnis nihil
  nisi perferendis mollitia pariatur doloremque quod, dolorem quod praesentium
  dolor illum provident natus perspiciatis perferendis. Quas officia nihil quia
  sed minus unde soluta eaque? Eos tempora tenetur suscipit sint facere ipsum
  reprehenderit soluta. Culpa deleniti assumenda corrupti quas at, non unde
  earum provident, fugiat amet molestias pariatur consectetur nostrum dolore cum
  unde labore reiciendis corporis, perferendis explicabo labore nihil eligendi,
  odit obcaecati dicta eum rerum ullam labore id ipsum numquam accusantium
  aperiam? Voluptatem ducimus reiciendis, consequuntur fugiat error temporibus
  architecto, nemo ipsa aliquid praesentium corrupti iure perferendis
</p>
{% endblock body %}
