{% extends "base.html" %} {% block body %}
<div class="carousel">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="/static/1.jpg" class="d-block w-100" style="padding:10px;" width="1920" height="400" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/2.jpg" class="d-block w-100" width="1920" height="400" alt="..." style="padding:10px;">
      </div>
      <div class="carousel-item">
        <img src="/static/3.jpg" class="d-block w-100" width="1920" height="400" alt="..." style="padding:10px;">
      </div>
    </div>
  </div>
</div>
<br>
  <div class="content" style="text-align: justify; padding-left: 0%; padding-right: 20%">
    <font color="#e76f51">
    <h1><b>Welcome to the Stationary Store</b></h1></font>
    <p><b><font size="4">
      Welcome to Stationary, where creativity meets functionality! Dive into a world of endless possibilitieswith our curated collection of stationery essentials. Whether you're a student, artist, or professional, our wide array of pens, notebooks, planners, and accessories are here to inspire and empower your imagination. From vibrant colors to sleek designs, we offer something for every taste and style. Elevate your writing experience and organize your thoughts with our premium quality products. With a commitment to excellence and customer satisfaction, we strive to be your one-stop destination for all things stationary. Join us in celebrating the art of writing and let your ideas flow freely.</b></font>
    </p>
  </div>
</div>
{% endblock body %}
