{% extends "base.html" %} {% block body %}
<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="/static/1.jpg" class="d-block w-100" style="padding:10px;" width="1920" height="600" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/2.jpg" class="d-block w-100" width="1920" height="600" alt="..." style="padding:10px;">
      </div>
      <div class="carousel-item">
        <img src="/static/3.jpg" class="d-block w-100" width="1920" height="600" alt="..." style="padding:10px;">
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <h1>Welcome to the Stationary Store</h1>
    <p>
      We have a wide range of stationary items for you to choose from. You can
      buy items from us or sell items to us. We also offer photocopying and
      lamination services.
    </p>
  </div>
</div>
{% endblock body %}
