{%extends "base.html"%} {%block body%}
<h1 style="center">Items Available</h1>
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  "
>
  <h2 style="text-align: center">
    currently we do not have any items available in our stock
  </h2>
</div>
  {% comment%}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {%for item in sold_items%}
      <tr>
        <td>{{item.product_name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%endcomment%} {%endblock body%}
</div>
