{%extends "base.html"%} {%block body%}
<h1 class="text-center">Items sold</h1>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {%for item in sold_items%}
      <tr>
        <td>{{item.product_name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%endblock body%}
</div>
